@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Borel&family=Cormorant:wght@300&family=Foldit&family=Indie+Flower&family=Kanit:wght@300&family=Mooli&family=Poppins:wght@300;500&family=Prompt:wght@300;400&family=Roboto&family=Rubik&family=Space+Mono:ital,wght@0,700;1,700&family=Wix+Madefor+Text:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mooli";
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 53, 4);
}

/*========================================================== NAVBAR =========================================================*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgba(35, 100, 15, 0.411);
}

.navbar header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar header img {
    width: 80px;
}

.navbar header h1 {
    margin-left: 20px;
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-right: 35px;
}

.navbar ul li .link {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
}

.navbar ul li .link::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: white;
    transition: 0.5s;
}

.navbar ul li .link:hover::before {
    width: 100%;
}

.navbar .btn , .dropdown-menu .btn{
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.navbar .btn i , .dropdown-menu .btn i {
    margin-right: 10px;
    padding: 8px;
    background-color: white;
    color: orange;
    border-radius: 50px;
}

.navbar .btn:hover , .dropdown-menu .btn:hover {
    background-color: rgb(207, 135, 0);
    color: white;
}

/*========================================================== NAVBAR =========================================================*/

/*========================================================== DROPDOWN =========================================================*/
.navbar .toggle-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 30px;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 400px;
}

.dropdown-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dropdown-menu ul li .link {
    color: white;
    position: relative;
}

.dropdown-menu ul li .link::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: white;
    transition: 0.5s;
}

.dropdown-menu ul li .link:hover::before {
    width: 100%;
}

.dropdown-menu .btn {
    width: 100%;
    text-align: center;
}
/*========================================================== DROPDOWN =========================================================*/

/*========================================================== PROFILE =========================================================*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.img-user {
    width: 250px;
    height: 350px;
    background-color: rgba(35, 100, 15, 0.411);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 100px;
}

.img-user .image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid black;
    background-color: white;
}

.user-info {
    margin-left: 50px;
}

.container-user-info {
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(35, 100, 15, 0.411);
}

.topic {
    margin-bottom: 30px;
}

.topic h1 {
    font-size: 50px;
    color: white;
}

.prefix label , .fname label , .lname label , .user-type label {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.prefix input , .fname input , .lname input , .user-type input {
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}

.btn-edit {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90%;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
}

.btn-edit:hover {
    background-color: rgb(207, 135, 0);
}


/*========================================================== PROFILE =========================================================*/