@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Borel&family=Cormorant:wght@300&family=Foldit&family=Indie+Flower&family=Kanit:wght@300&family=Mooli&family=Poppins:wght@300;500&family=Prompt:wght@300;400&family=Roboto&family=Rubik&family=Space+Mono:ital,wght@0,700;1,700&family=Wix+Madefor+Text:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mooli";
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 53, 4)
}

/*========================================================== NAVBAR =========================================================*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgba(35, 100, 15, 0.411);
}

.navbar header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar header img {
    width: 80px;
}

.navbar header h1 {
    margin-left: 20px;
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-right: 35px;
}

.navbar ul li .link {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
}

.navbar ul li .link::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: white;
    transition: 0.5s;
}

.navbar ul li .link:hover::before {
    width: 100%;
}

.navbar .btn , .dropdown-menu .btn{
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.navbar .btn:hover , .dropdown-menu .btn:hover {
    background-color: rgb(207, 135, 0);
    color: white;
}

/*========================================================== NAVBAR =========================================================*/

/*========================================================== DROPDOWN =========================================================*/
.navbar .toggle-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 30px;
    color: white;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 400px;
}

.dropdown-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dropdown-menu ul li .link {
    color: white;
    position: relative;
}

.dropdown-menu ul li .link::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: white;
    transition: 0.5s;
}

.dropdown-menu ul li .link:hover::before {
    width: 100%;
}

.dropdown-menu .btn {
    width: 100%;
    text-align: center;
}
/*========================================================== DROPDOWN =========================================================*/

/*========================================================== SIGN-UP ==========================================================*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 600px;
}

.sign-up {
    padding: 150px 50px 200px;
    border-radius: 50px;
    background-color: rgba(35, 100, 15, 0.411);
}

.sign-up h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
    color: white;
}

.sign-up a {
    font-size: 27px;
    background-color: rgb(233, 0, 0);
    padding: 20px 60px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.sign-up a i {
    margin-right: 20px;
    background-color: white;
    color: rgb(233, 0, 0);
    padding: 8px;
    border-radius: 100px;
}

.container a:hover {
    background-color: rgb(179, 0, 0);
}

/*========================================================== SIGN-UP ==========================================================*/