@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Borel&family=Cormorant:wght@300&family=Foldit&family=Indie+Flower&family=Kanit:wght@300&family=Mooli&family=Poppins:wght@300;500&family=Prompt:wght@300;400&family=Roboto&family=Rubik&family=Space+Mono:ital,wght@0,700;1,700&family=Wix+Madefor+Text:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mooli";
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    left: 100%;
    width: 230px;
    height: 100%;
    background-color: #1d1d1d;
    transition-duration: 0.5s;
    border-radius: 10px;
    z-index: 1;
}

.sidebar header {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    background-color: #1d1d1d;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
    transition-duration: 0.8s;
}

ul li a:hover {
    padding-right: 50px;
    background-color: white;
    color: black;
}

.sidebar li a i {
    margin-right: 10px;
}

#check {
    display: none;
}

.click-menu #btn, .click-cancel #cancel {
    position: absolute;
    cursor: pointer;
}

.click-menu {
    position: relative;
    left: 96%;
}

.click-menu #btn {
    right: 40px;
    top: 30px;
    font-size: 35px;
    color: white;
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.click-cancel #cancel {
    position: sticky;
    top: 31px;
    font-size: 20px;
    color: white;
    padding: 5px 9px;
    margin-left: 20px;
}

#check:checked ~ .sidebar {
    left: 86%;
}

#check:checked ~ .click-menu #btn {
    right: 50%;
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 2550px) {
    #check:checked ~ .sidebar {
        left: 92%;
    }
    
    .click-menu #btn {
        right: 20px;
    }
}


/*================================================================================================================= ABOUT =================================================================================================================*/

.container-logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 50px;

}

.container-logo img {
    width: 65px;
}

.container-logo h1 {
    text-align: center;
    margin-left: 15px;
    font-size: 25px;
}

.img-1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-1 img {
    width: 1250px;
}

.topic {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic h1 {
    font-size: 60px;
    background-color: green;
    padding: 20px 376px;
    color: white;
    text-align: center;
    width: 500px;
}

.program-vs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.program-vs .video-vs {
    margin-right: 50px;
}

.program-vs .content-vs {
    width: 600px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.program-vs .content-vs h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.program-vs .content-vs p {
    font-size: 25px;
    text-transform: uppercase;
}

.goal {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-goal h1 {
    margin-bottom: 20px;
    padding: 10px;
    width: 1225px;
    background-color: pink;
    border-radius: 10px;
    font-size: 25px;
}

.topic-goal h1 .circle-check {
    margin-left: 10px;
    margin-right: 20px;
}

.topic-goal h1 .chevron-right {
    margin-left: 1065px;
}

.list-goal li {  
    font-size: 18px;
    margin-right: 30px;
    line-height: 35px;
}

.list-goal li .check {
    margin-right: 10px;
    margin-left: 30px;
}

.mission {
    position: absolute;
    top: 196%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-mission h1 {
    margin-bottom: 20px;
    padding: 10px;
    width: 1225px;
    background-color: pink;
    border-radius: 10px;
    font-size: 25px;
}

.topic-mission h1 .circle-check {
    margin-left: 10px;
    margin-right: 20px;
}

.topic-mission h1 .chevron-right {
    margin-left: 1030px;
}

.list-mission li {  
    font-size: 18px;
    margin-right: 30px;
    line-height: 35px;
}

.list-mission li .check {
    margin-right: 10px;
    margin-left: 30px;
}

.eng-camp {
    position: absolute;
    top: 340%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-eng-camp {
   margin-bottom: 40px;
}

.topic-eng-camp h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    background-color: green;
    padding: 20px 35px;
    color: white;
}

.topic-eng-camp h1 span {
    font-size: 40px;
}

.topic-eng-camp h2 {
    font-size: 25px;
    text-align: center;
    color: grey;
    line-height: 35px;
}

.img-eng-camp img {
    width: 520px;
    height: 350px;
    padding: 5px;
}

.video-eng-camp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.eco-camp {
    position: absolute;
    top: 555%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-eco-camp {
    margin-bottom: 40px;
 }

.topic-eco-camp h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    background-color: green;
    padding: 20px 35px;
    color: white;
}

.topic-eco-camp h2 {
    font-size: 25px;
    text-align: center;
    color: grey;
    line-height: 35px;
}

.img-eco-camp img {
    width: 520px;
    height: 350px;
    padding: 5px;
}

.video-eco-camp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.table-manner {
    position: absolute;
    top: 745%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-table-manner {
    margin-bottom: 40px;
 }

.topic-table-manner h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    background-color: green;
    padding: 20px 35px;
    color: white;
}

.topic-table-manner h2 {
    font-size: 25px;
    text-align: center;
    color: grey;
    line-height: 35px;
}

.img-table-manner img {
    width: 520px;
    height: 350px;
    padding: 5px;
}

.video-table-manner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sci-work {
    position: absolute;
    top: 935%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-sci-work {
    margin-bottom: 40px;
 }

.topic-sci-work h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    background-color: green;
    padding: 20px 35px;
    color: white;
}

.topic-sci-work h2 {
    font-size: 25px;
    text-align: center;
    color: grey;
}

.img-sci-work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.golf {
    position: absolute;
    top: 1095%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-golf {
    margin-bottom: 40px;
 }

.topic-golf h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    background-color: green;
    padding: 20px 35px;
    color: white;
}

.topic-golf h2 {
    font-size: 25px;
    text-align: center;
    color: grey;
    line-height: 35px;
}

.img-golf img {
    width: 520px;
    height: 350px;
    padding: 5px;
}

.trip {
    position: absolute;
    top: 1240%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic-trip {
    margin-bottom: 40px;
 }

.topic-trip h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    background-color: green;
    padding: 20px 35px;
    color: white;
}

.topic-trip h1 span {
    font-size: 40px;
}

.topic-trip h2 {
    font-size: 25px;
    text-align: center;
    color: grey;
    line-height: 35px;
}

.img-trip img {
    width: 520px;
    height: 350px;
    padding: 5px;
}

.video-trip {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.video-trip a {
    font-size: 30px;
    background-color: pink;
    padding: 20px 40px;
    color: black;
}

.video-trip a:hover {
    background-color: rgb(253, 93, 120);
    color: white;
}

/*================================================================================================================= ABOUT =================================================================================================================*/